episode_test.json
episodes.json
roosterteeth.db
downloaded_images/cdn_mirror/image/upload/t_l/f_auto/2/uploads/images/188136ff-5561-47b0-af84-def6c9f6a7ec/original/2013912-1501873175915-day_5_s2_page_banner_master_right_1.jpg
/downloaded_images
shows.json
/downloaded.old
.vscode/launch.json
